.kainosbg{
        background-image: linear-gradient(to right, darkblue, darkgreen);
        color: white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}