<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-4">
      <h1>Employee List</h1>

      <form onsubmit="fetchAndDisplayEmployees(event)" class="mb-3">
        <button type="submit" class="btn btn-primary">Show Employees</button>
      </form>

      <table id="employeeTable" class="table table-bordered"></table>
    </div>

    <script src="/jsHandlers/JsHandlers.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
